p.title {
	color: red;
	text-align: center;
	font-size: 2em;
	border: 2px solid blue;
	border-radius: 6px;
	margin: 50px 75px 50px 75px;
	padding: 20px 25px 20px 25px;
}
p.text{
	margin: 5px 75px 5px 75px;
	font-size: 1em;
}
a{
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}
ul.headbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333
}
li.headbar {
	float: left;
}
li.headbar a:hover{
	background-color: #111111
}
li.headbar div {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	margin: 0;
	text-decoration: none;
}

div ul {
	display:none;
}
div:hover ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
